<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.tob.mapper.AdminMapper">
 
 <select id="selectById" resultType="com.tob.admin.AdminVO" parameterType="string">
 	SELECT
 		ID AS id,
	 	PASSWORD AS password,
	 	ADMIN_EMAIL AS adminEmail
 	FROM ADMIN WHERE ID = #{id}
 </select>
 
 <select id="selectByEmail" resultType="com.tob.admin.AdminVO" parameterType="string">
 	SELECT
 		ID AS id,
	 	PASSWORD AS password,
	 	ADMIN_EMAIL AS adminEmail
 	FROM ADMIN WHERE ADMIN_EMAIL = #{email} 
 </select>
 
 <select id="selectAll" resultType="com.tob.book.BookVO" parameterType="com.tob.global.Command">
 	SELECT
		BOOK_ID AS bookId,
		BOOK_NAME AS bookName,
		PRICE AS bookPrice,
		WRITER AS writer,
		GRADE AS grade,
		STOCK_SEQ AS stockSeq,
		OPTION_ID AS optionBook,
		GENRE_ID AS genreId
 		FROM BOOK ORDER BY bookId ASC
         LIMIT #{start}, 10
 </select>
 
 
 <insert id="insert" parameterType="com.tob.admin.AdminVO">
 	INSERT INTO ADMIN (ID,PASSWORD,ADMIN_EMAIL) 
 	VALUES (
	 	#{id},
	 	#{password},
	 	#{adminEmail}
 	) 
 </insert>
 
 <update id="update" parameterType="com.tob.admin.AdminVO">
	UPDATE ADMIN SET 
		PASSWORD = #{password}
	WHERE ID = #{id}	
 </update>
 
 <select id="count" resultType="int">
 	SELECT COUNT(*) AS count FROM BOOK
 </select>
 
 <delete id="deletePurchase" parameterType="string">
 	DELETE FROM PURCHASE WHERE BOOK_ID = #{bookId}
 </delete>
 
 <delete id="deleteCart" parameterType="string">
 	DELETE FROM CART WHERE BOOK_ID = #{bookId}
 </delete>
 
 
 </mapper>