<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.tob.mapper.PurchaseMapper">
	<insert id="add">
	
	</insert>
	<select id="searchBypurNum">
	
	</select>
	<select id="searchByAccNum">
	
	</select>
	<select id="getList" resultType="com.tob.purchase.PurchaseVO">
		SELECT
			PUR_NUM AS purNum,
			SUM AS sum,
			ACCOUNT_NUM AS accountNum,
			USERID AS userid,
			BOOK_ID AS bookid
		FROM PURCHASE
	</select>
	<update id="change">
	
	</update>
	<delete id="remove">
		DELETE FROM PURCHASE WHERE PUR_NUM = ${purNum}
	</delete>
	
</mapper>
