<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tob.mapper.ReplyMapper">
 <select id="selectAll" resultType="com.tob.reply.ReplyVO" parameterType="com.tob.global.Command">
 	SELECT
 		REPLY_SEQ AS replySeq,
 	 	COMMENT AS comment,
 	 	WRITER AS writer,
 	 	REG_DATE AS regDate,
 		THUMNALI AS thumnail
 	 FROM REPLY ORDER BY replySeq DESC
 	  	LIMIT #{start}, 8
 </select>
 <insert id="insert" parameterType="com.tob.reply.ReplyVO" >
 	INSERT INTO REPLY
 	 (REPLY_SEQ,COMMENT,WRITER,REG_DATE,THUMNALI)
 	VALUES
 	 (#{replySeq}, #{comment}, #{writer}, #{regDate}, #{thumnail})
 </insert>
 <update id="update" parameterType="com.tob.reply.ReplyVO">
 	UPDATE REPLY SET
 		COMMENT = #{comment},
 		WRITER = #{writer},
 		REG_DATE = #{regDate},
 		THUMNALI = #{thumnail}
 	WHERE REPLY_SEQ = #{replySeq}
 </update>
 <delete id="delete" parameterType="string">
 	DELETE FROM REPLY WHERE REPLY_SEQ = #{replySeq}
 </delete>


 <select id="count" resultType="int">
 	SELECT COUNT(*) AS count FROM REPLY
 </select>
 </mapper>